"*":
  "exception-reporting":
    userId: "c6d46a32-842f-c369-d17b-da9cd0a91ac2"
  welcome:
    showOnStartup: false
  core:
    excludeVcsIgnoredPaths: false
    themes: [
      "seti-ui"
      "flatui-dark-mtt"
    ]
  editor:
    invisibles:
      {}
    scrollPastEnd: true
    fontFamily: "MonacoB2,Hiragino Sans GB"
    lineHeight: 1.5
    softWrapAtPreferredLineLength: true
    softWrap: true
    fontSize: 13
  minimap:
    {}
  "isotope-ui":
    {}
